body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #888;
    color: #333;
}

.App {
    padding: 20px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book-card {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.book-card:hover {
    transform: scale(1.05);
}

.book-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.book-details {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ddd;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.book-details img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

.search-bar {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    margin-right: 10px;
    flex-grow: 1;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.search-bar button:hover {
    background-color: #45a049;
}
